<h3> Update  this volunteer's name:</h3>
<h4>Current name is <%= @volunteer.name() %></h4>

<form action="/volunteer/<%= @volunteer.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Rename this volunteer:</label>
  <input type="text" name="name" id="name">
  <button type="submit">Update Volunteer</button>
</form>

<a href="/"><button class="btn">Home</a>
